/* * {
  box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --dark-blue-grey: #182635;
  --off-black: #0e141b;
  --light-grey:#9AA0A6;
  --off-white : #f2f5f7;
  --blueish: #4f99f6;
}

main {
  height: 100vh;
  overflow: auto;
  
}

figure {
  margin: 1rem 0;
}

h1,
h2,
h3 {
  font-weight: 400;
  /* border-bottom:solid thin #9AA0A6; */
}

h1 {
  padding: 4rem 1rem 4rem 1rem;
  font-size: 2rem;
  margin: 0;  
  background-color: var(--dark-blue-grey);
  color: var(--off-white);
  border: 0;
  position: -webkit-sticky;
  position: sticky; 
  align-self: flex-start; 
  text-align: center;
  /* width: 100%;
  overflow: auto; */
}
h2 {
  font-size: 1.75rem;
  margin: 0;
  color:var(--blueish);  
}

h3 {
  font-size: 1.5rem;
  color:var(--blueish);
}

h4 {
  font-size: 1.125rem;
  color:var(--blueish);
}

.img {
  margin: 0;
  height: auto;
  max-width: 100%;
}

.header-nav__img {
  flex-flow:column;
  width: 5rem;
  /* color: antiquewhite; */
  /* background: transparent !important; */
  background-color: var(--dark-blue-grey);
  text-align: left; 
}

p {
  line-height: 1.6;
}

/* article {
  /* padding: 0 15px;
  width: 900px;
  /* max-width: 60%; */
  /* background: transparent !important;
  margin: 0 15px 0 0; 
} */


/* main:after {
  clear: both;
}
main:before, main:after {
  content: " ";
  display: table;
} */

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: justify; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}


.header {
  background: var(--dark-blue-grey);
  /* z-index: 2; */
  position: -webkit-sticky;
  position: sticky;
  /* top: 0; */
  
  align-self: flex-start;
}

.footer {
  /* background: lightgreen; */

  width: 100%;
  height: 3.5rem;
  background-color:	var(--dark-blue-grey);
  padding: 0 1.5rem;
  margin: 0;  
}

.main {
  text-align: justify;
}


.aside-2 {
  top: 45px;
  font-size: 0.75rem;
  /* color:var(--blueish); */
  /* top: 0; */
  background: var(--dark-blue-grey);
  position: -webkit-sticky;
  position: sticky;
  align-self:flex-start;  
  max-height: 100%; 
}

.aside-1 {
  background: var(--dark-blue-grey);
  border-width: thin;
  border-style: solid;
  border-radius: 1rem;
  margin-top: 1rem;
  max-height: 18rem;
  font-size: 0.75rem;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }

  .aside-2 { order: 1; }
  .main    { order: 2; }
  .aside-1 { order: 3; } 
  .footer  { order: 4; }
} 

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', serif;
  font-size: 1rem;
  font-weight: 400;
  background-color:var(--off-black);
  color: var(--light-grey);  
}

aside {
  float: left;
}



a {
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  color: white;
}

a:hover,
a.active {
  color: paleturquoise;

}

.author-text {
  font-size: 0.875rem;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color:	var(--dark-blue-grey);
  padding: 0 1.5rem;
  position: fixed;
  margin: 0;
  backdrop-filter: saturate(200%) blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 3.5rem;
  z-index: 2; 
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;  
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;  

}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a.active {
  color: paleturquoise;
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
}

.main-footer {
  width: 100%;
  height: 3.5rem;
  background-color:	#333339;
  padding: 0 1.5rem;
  margin: 0;
}